# SENTRY ERROR TRACKING
VITE_SENTRY_DSN=

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The public URL where this applet is hosted.
APP_URL="MY_APP_URL"


# RAZORPAY PAYMENT GATEWAY CREDENTIALS
RAZORPAY_KEY_ID="rzp_test_TQLbHvQrdAonXQ"
RAZORPAY_KEY_SECRET="o2v5NUB1vvIH8vxbRd8H4T7z"
VITE_GOOGLE_MAPS_PLATFORM_KEY=

# DIDIT KYC CREDENTIALS
DIDIT_API_KEY="OTb5rjZH..."
DIDIT_WEBHOOK_SECRET="qqo78jiBUaYgSiYT4V8X1_uTwA_FHaXWvHmjbU__-z8"

# INSTAMOJO PAYMENT GATEWAY CREDENTIALS
INSTAMOJO_CLIENT_ID="kXq0sXq9v3geZNoyCH3NaUgSKRtOR2CtkjsQNg1v"
INSTAMOJO_CLIENT_SECRET="rWeb456fh18niUlnobPSclwFV6WP8Bp5vX8b3D0jyk0rSuOvW9L7IV4Y36n4RL5h2CefMHFvW957SNPwLEy4VmQrHuiCVEIqqkrzbP42wP3imlMaVErCGVaJ71eusDe"

# FASTRR / SHIPROCKET WEBHOOK CREDENTIALS
FASTRR_API_KEY="YPk7sVwCm4tu3JT2"
FASTRR_SECRET_KEY="BQUVlbPlJAMgFLvZMIImAmwve7RWd6bAi"

# SMTP EMAIL CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="Trega Notifications <noreply@trega.com>"
